<%- include('../partials/header') %>
<h2>About Me</h2>
  <p><img class="pic" src="images/tigray.jpg"/></p>
  <h3>About Me</h3>
  <p>My name is Medhanye Leake Weldegebriel. I was born and raised in Tigray. 
    I am a member of Tigray Football club in seattle. I play in center-back and right-back. 
    I use this club as  relief of my stress. I am honored to play for my team and win a championship.</p>
<%- include('../partials/footer') %>
