<%- include('../partials/header') %>
<h2>Tigay Football Club</h2>
  <p><img class="pic" src="images/tdf.jpg"/></p>
  <h3>Tigray Football Club</h3>
  <p>Tigray Football club was established on april 2021 by young Tegarus. Tegarus are the people who came from Tigaray. 
    The team was established as a relief from stress. Tigray people have been living in hell since the war broke out on Novomber 2020. 
    The people inside tigray and out side of Tigray have been forced to live with depression. 
    So the team has to be created forthe reason atleast the players have to get relief for 2 days in week.</p>
  <p>The club have added skilled players from all over seattle who are Tigrayans. Tigrayans that used to 
    play for different teams left their clubs and joined the team. There was two days training per week.
    The club participated at Tigray festival in 2021. There was a soccer ball tornament between 8 clubs. 
    Tigray football club from seattle dominated the tornament and won the champion ship.</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
<%- include('../partials/footer') %>
