<%- include('../partials/header') %>
<h2>Tigray Prevails</h2>
  <p><img class="pic" src="images/stop.jpg"/></p>
  <p>Tigray is now under siedge but soon  will prevail. 
    Tigray war must be stopped as soon as possible.</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
<%- include('../partials/footer') %>
